<li class="search__suggest-item">
    {{#ifCond showAs 'endpoint'}}
        <a data-link='{{getPageLinkToEndpoint this}}'>
            <span class="api__endpoints-{{method}}">{{method}} {{apiPath}}{{path}}</span>
        </a>
    {{/ifCond}}
    {{#ifCond showAs 'model'}}
        <a data-link='{{getPageLinkToType type}}'>
            <span class="endpoint">{{simpleName}}</span>
        </a>
    {{/ifCond}}
    {{#ifCond showAs 'enum'}}
        <a data-link='{{getPageLinkToType type}}'>
            <span class="endpoint">{{simpleName}} {{#if enclosingType}}at {{enclosingType}}{{/if}} <b>(enumeration)</b></span>
        </a>
    {{/ifCond}}
    {{#ifCond showAs 'bang'}}
        <span><em><b>!</b>{{name}}</em> - {{description}}</span>
    {{/ifCond}}
</li>
