<div class="sidebar">
    <ul class="sidebar__group">
        <div class="group__title js_sidebar-title-endpoints"><i class="fa fa-plug"></i><span>Endpoints</span></div>
        <li class="group__content group__content_active js_sidebar-endpoints">
            <ul>
                {{#each apiContexts}}
                    <li class="api">
                        <div class="api__header">
                            <span class="api__title" data-link="#{{apiPath}}">{{apiPath}}</span>
                            <div class="api__toggle"></div>
                        </div>

                        <ul class="api__endpoints">
                            {{#each apiEndpoints}}
                                <li>
                                    <span title="{{path}}"
                                          data-link="{{getPageLinkToEndpoint
                                                  (hashToObject method=method apiPath=../apiPath path=path)}}">
                                        <span class="api__endpoints-{{method}}">{{method}} {{path}}</span>
                                    </span>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </li>

        <div class="group__title js_sidebar-title-model"><i class="fa fa-puzzle-piece"></i><span>Types</span></div>
        <li class="group__content js_sidebar-model">
            <ul>
                {{#each usedApiTypes}}
                    <li class="api">
                        <span class="api__title {{modelType}}" data-link="{{getPageLinkToType type}}">{{getAfterLastDot
                                type}}</span>
                    </li>
                {{/each}}
                {{#each usedEnumerations}}
                    <li class="api">
                        <span class="api__title {{modelType}}" data-link="{{getPageLinkToType type}}">{{getAfterLastDot
                                type}}</span>
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
