/*
 * Copyright 2014-2016 Ainrif <ainrif@outlook.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@import "misc/variables";
@import "misc/json";
@import "misc/table";
@import "misc/scrollbar";
@import "misc/animations";
@import "misc/modal";
//
@import "header/header";
@import "header/menu";
@import "header/search";
//
@import "sidebar";
@import "content";
//
@import "card/type-view";
@import "card/card";
@import "card/endpoint";
@import "card/type";
//

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

//noinspection CssOptimizeSimilarProperties
body {
  // @formatter:off
  background:
    radial-gradient(rgba(0,0,0,0.3) 15%, transparent 16%) 0 0,
    radial-gradient(rgba(0,0,0,0.3) 15%, transparent 16%) 6px 6px,
    radial-gradient(rgba(128,128,128,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(128,128,128,.1) 15%, transparent 20%) 6px 7px;
  // @formatter:on
  background-color: @bg_dark;
  background-size: 12px 12px;
  color: @text_color;
}

a {
  color: @text_color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}

#doc-container {
  font-size: 0;
  line-height: 0;
}

.target-marker {
  padding-top: 30px;
}