<div class="target-marker"
     data-id="{{getIdForTargetMarkerOfModel type}}"></div>
<div class="card" data-view-tab="standard">

    <div class="card__header">
        <span class="card__header-name">{{getAfterLastDot type}}</span>
        <span class="card__header-share copy-btn" data-clipboard-text="{{getAbsoluteLinkToType type}}">Copy link</span>

        <span class="card__header-view-tab card__header-view-tab_active" data-view-tab="standard">Standard view</span>
        <span class="card__header-view-tab" data-view-tab="tech">Tech view</span>
    </div>

    <div class="card__content card__content_standard">
        {{#if description}}
            <div class="card__content-item card__content-description">{{description}}</div>
        {{/if}}

        <div class="card__content-item">
            <div class="card__content-title">Values</div>
            <table class="table">
                <tbody>
                {{#each values}}
                    <tr>
                        <td>{{this}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card__content card__content_tech">
        <div class="card__content-item card__content-raw-view">
            <div class="title">Raw view</div>
            <pre class="viewer json">{{{highlightJSON this}}}</pre>
        </div>
    </div>
</div>