<div class="target-marker" data-id="{{getIdForTargetMarkerOfModel type}}"></div>
<div class="card type" data-view-tab="standard">
    <div class="card__header">
        <span class="card__header-name">{{getAfterLastDot type}}</span>
        <span class="card__header-share copy-btn" data-clipboard-text="{{getAbsoluteLinkToType type}}">Copy link</span>

        <span class="card__header-view-tab card__header-view-tab_active" data-view-tab="standard">Standard view</span>
        <span class="card__header-view-tab" data-view-tab="tech">Tech view</span>
    </div>

    <div class="card__content card__content_standard">
        {{#if description}}
            <div class="card__content-item card__content-description">{{description}}</div>
        {{/if}}

        <div class="card__content-item">
            <div class="card__content-title">Fields</div>
            <table class="table">
                <colgroup>
                    <col width="35%">
                    <col width="35%">
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date type</th>
                    <th>Default value</th>
                    <th>Optional</th>
                </tr>
                </thead>
                <tbody>
                {{#each fields}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{{renderTemplateTypes this}}}</td>
                        <td>
                            {{#if defaultValue}}<span class="param__default-value">{{defaultValue}}</span>
                            {{else}}-{{/if}}
                        </td>
                        <td>{{#if optional}}<span class="param__optional">&#x2713;</span>{{else}}-{{/if}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <div class="card__content-item">

            <div class="card__content-title">Source Reference</div>
            <div class="type__src-ref">
                <div class="type__src-ref-name">{{type}}</div>

                <div class="type__src-ref-copy copy-btn" data-clipboard-text="{{type}}">
                    copy reference
                </div>
            </div>
        </div>
    </div>

    <div class="card__content card__content_tech">
        <div class="card__content-item card__content-raw-view">
            <div class="title">Raw view</div>
            <pre class="viewer json">{{{highlightJSON this}}}</pre>
        </div>
    </div>
</div>
