<div class="header">
    {{> menu }}

    <div class="header_block_right">
        <form class="search" role="search">
            <input type="text" class="search__input" id="fuzzy-input" autocomplete="off"
                   placeholder="Search or start with '!'">
        </form>
    </div>
</div>
