<div class="menu header_block_left">
    <div class="menu__pic"></div>
    <ul class="menu__items">
        <li class="menu__items-item js__menu-item-whats-new">
            <i class="menu__items-item-icon fa fa-gift" aria-hidden="true"></i>
            <a href="//bitbucket.org/ainrif/apiator/src/develop/CHANGELOG.md" target="_blank"
               class="menu__items-item-link">What's New</a>
        </li>
        <li class="menu__items-item">
            <i class="menu__items-item-icon fa fa-book" aria-hidden="true"></i>
            <a href="//apiator.ainrif.com" target="_blank"
               class="menu__items-item-link">Documentation</a>
        </li>
        <li class="menu__items-item">
            <i class="menu__items-item-icon fa fa-bitbucket" aria-hidden="true"></i>
            <a href="//bitbucket.org/ainrif/apiator" target="_blank"
               class="menu__items-item-link">Source code</a>
        </li>
        <li class="menu__items-item">
            <i class="menu__items-item-icon fa fa-bug" aria-hidden="true"></i>
            <a href="//bitbucket.org/ainrif/apiator/issues/new" target="_blank"
               class="menu__items-item-link">Report an Issue</a>
        </li>
        <li class="menu__items-item js__menu-item-thanks">
            <i class="menu__items-item-icon fa fa-heart" aria-hidden="true"></i>
            <span>Thanks</span>
        </li>
    </ul>
</div>